<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LANT</title>

</head>
<body>
<p>download {{.}}</p>
<input id="filePicker" type="file" multiple="multiple">
<button onclick="uploadFiles()">上传</button>
</body>

</html>