<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="qrcode.js"></script>
    <title>LANT</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            margin: 0;
        }
        #qrcode{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .tip{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div id="qrcode"></div>
    <br>
    <div class="tip">请扫码上传，或在电脑浏览器上输入{{.}}</div>
</div>
<script type="text/javascript">
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: "{{.}}",
        width: 256,
        height: 256,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });
</script>
</body>

</html>